body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.navbar {
    margin-bottom: 0;
    background-color: transparent;
    z-index: 999999;
    border: 0;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    color: white;
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
    background: rgb(160, 160, 160);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0);
}

.navbar-brand img {
    height: 170%;
    width: 90px;
}

.whole-container {
    z-index: 9;
    position: relative;
    background: white;
    margin-bottom: 300px;
}

.solid {
    background-color: black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand img {
    padding: none;
    margin: none;
    width: 100px;
    color: black;
    height: 170%;
}

.navbar-nav>li {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
    border-bottom: none;
    transition: 10s;
}

.navbar-default .navbar-nav>li>a:hover {
    color: yellow;
}

.navbar-default .navbar-nav>li>a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '';
    color: transparent;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:after,
.navbar-default .navbar-nav>li>a:before {
    transition: all .1s;
}

.navbar-default .navbar-nav>li>a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
    border-radius: 0px;
    border-bottom: 4px solid yellow;
}

.navbar-default .navbar-navi>li>a {
    margin-top: 5px;
    color: #64C1FF;
    background-color: white;
    border-radius: 10px;
    transition: all 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-default .navbar-navi>li>a:hover {
    color: black;
    box-shadow: none;
    background: yellow;
}

.navbar-default .navbar-navi>li {
    float: right;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff;
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,
    .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display: block !important;
    }
    .navbar-brand img {
        padding: none;
        margin: none;
        width: 70px;
        color: black;
        height: 100%;
    }
}


/*FOOTER*/

footer {
    background: black;
    color: white;
    padding: 40px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: -444;
}

footer a:hover {
    text-decoration: none;
}

.space {
    margin-bottom: 20px;
}

.space .footer-links a {
    color: #e22222;
    margin-left: 10px;
    margin-right: 10px;
}

.space .footer-links a:hover {
    color: white;
}

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Roboto';
    margin: 0;
}

.fa-facebook {
    color: #3B5998;
    padding: 14px;
    background: white;
    border-radius: 5px;
    margin-left: 10px;
}

.fa-twitter {
    color: white;
    padding: 14px;
    background: #1DA1F2;
    border-radius: 50%;
    margin-left: 10px;
}

footer p {
    font-size: 18px;
}

.fa-instagram {
    color: white;
    padding: 14px;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    ;
    border-radius: 5px;
    margin-left: 10px;
}

.fa-youtube {
    color: white;
    padding: 14px;
    background: red;
    border-radius: 200px;
    margin-left: 10px;
}

.fa:hover {
    background: white;
    color: black;
}

.footer-distributed h3 span {
    color: hsl(59, 77%, 51%);
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-name span {
    color: #e22222;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}

@media(max-width:500px) {
    .navbar-brand img {
        height: 130%;
    }
    footer p {
        font-size: 14px;
    }
    .footer-distributed h3 {
        font: normal 26px 'Cookie';
        margin: 0;
    }
    .fa-facebook {
        padding: 8px;
        font-size: 12px;
    }
    .fa-github {
        padding: 8px;
        font-size: 12px;
    }
    .fa-instagram {
        padding: 8px;
        font-size: 12px;
    }
    .fa-youtube {
        padding: 8px;
        font-size: 12px;
    }
    .footer-icon p {
        font-size: 10px;
    }
    .navbar-brand img {
        height: 20px;
        width: 50px;
    }
}